.login-content{
	width: 400px;
	height: 300px;
	margin: auto;
	text-align: center;
	border: 1px solid #bbb;
	margin-top: 100px;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #aaa;
}
.login-content form{
	padding-top: 50px;
}
.login-content input, .login-content button{
	margin-top: 18px;
}
.login{
	width: 60%;
	height: 40px;
	border: 0;
	border-radius: 5px;
	background-color: #a51c30;
	color: #fff;
	font-size: 16px;
	display: block;
	margin-left: 20%;
	cursor: pointer;
}
label{
	display: inline-block;
	width: 80px;
}
.prompt-pass{
	font-size: 12px;
	float: right;
	margin: 10px 20% 0 0;
}